/* 
=================
variables
=================
*/
:root {
	--primaryColor: #f15025;
	--mainBlack: #222;
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--darkGrey: #afafaf;
	--transitionMain: all 0.2s linear;
	--spacing: 0.2rem;
}

/* 
=================
Global styles
=================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Fira Code", monospace;
	color: var(--mainBlack);
	background: var(--mainWhite);
	line-height: 1.5;
}

a {
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}

h1,
h2,
h3 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	margin-bottom: 1.25rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	margin-bottom: 0;
}

p {
	font-weight: 300;
	line-height: 2;
	font-size: 0.7rem;
}

.btn {
	cursor: pointer;
	display: inline-block;
	padding: .5rem 1rem;
	text-transform: capitalize;
	border: 3px solid var(--primaryColor);
	color: var(--primaryColor);
	transition: var(--transitionMain);
	margin: 3rem;
}

.btn:hover {
	color: var(--mainWhite);
	background: var(--primaryColor);
}
.medium,
.large {
	display: none;
}
/* 
=================
main navbar
=================
*/
.main-navbar {
	background: var(--darkGrey);
	padding: 0 2rem;
}

.main-navbar li {
	list-style-type: none;
}

.main-navbar a {
	text-transform: capitalize;
	display: block;
	padding: 1rem 0;
	color: var(--primaryColor);
	letter-spacing: var(--spacing);
	transition: var(--transitionMain);
}
.main-navbar a:hover {
	color: var(--mainBlack);
}

/* on bigger screen display navbar in one line */
@media screen and (min-width: 992px) {
	/* positioned center */
	.main-navbar ul {
		max-width: 1170px;
		margin: 0 auto;
		/*align items side by side */
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.main-navbar a {
		text-align: center;
	}
}

/* 
=================
Hero
=================
*/

.hero-header {
	min-height: 100vh;
	/* on smaller screen instead of background there should be plain background color */
	background: var(--primaryColor);
	color: var(--mainWhite);
	/* now by doing this banner itself will positioned in center but its content is not.. 
  If You want to center the text , user text-align property*/
	display: grid;
	justify-content: center;
	align-items: center;
}

.hero-banner {
	text-align: center;
}
.hero-banner p {
	font-size: 1rem;
	width: 80%;
	max-width: 560px;
}

@media screen and (max-width: 600px) {
	.hero-banner {
		padding: 0 3rem;
	}
}

@media screen and (min-width: 768px) {
	.hero-header {
		background: linear-gradient(to bottom, rgba(241, 80, 37, 0.75), rgba(0, 0, 0, .75)),
			url('./images/image-2.jpeg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.hero-banner {
		padding: 0 3rem;
	}
}

/* 
=================
Cards
=================
*/
.title {
	text-align: center;
}

.cards {
	padding: 4rem 0;
}

.cards-center {
	width: 80vw;
	max-width: 1170px;
	margin: 2rem auto;
}

.card {
	border: 1px solid var(--darkGrey);
	margin-bottom: 3rem;
}

.card-info {
	padding: 1rem;
}

.card-footer {
	background: var(--darkGrey);
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.card-footer span {
	color: var(--primaryColor);
}

/* 2 column layout */
@media screen and (min-width: 768px) {
	.small {
		display: none;
	}
	.medium {
		display: inline-block;
	}
	.cards-center {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}
}
/* 3 column layout */
@media screen and (min-width: 992px) {
	.small,
	.medium {
		display: none;
	}
	.large {
		display: inline-block;
	}
	.cards-center {
		grid-template-columns: repeat(3, 1fr);
	}
}
